<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.zxytech.web.servlet.example.LogFilter</filter-class>
        <init-param>
            <param-name>Site</param-name>
            <param-value>菜鸟教程</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>SiteHitCounter</filter-name>
        <filter-class>com.zxytech.web.servlet.example.SiteHitCounter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SiteHitCounter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.HelloWorld</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.HelloForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <!-- url-pattern指向url要与WebServlet注解指向url不同 -->
        <url-pattern>/HelloWorld/HelloForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckBox</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.CheckBox</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckBox</servlet-name>
        <url-pattern>/HelloWorld/CheckBox</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReadParams</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.ReadParams</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadParams</servlet-name>
        <url-pattern>/HelloWorld/ReadParams</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DisplayHeader</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.DisplayHeader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayHeader</servlet-name>
        <url-pattern>/HelloWorld/DisplayHeader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Refresh</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.Refresh</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Refresh</servlet-name>
        <url-pattern>/HelloWorld/Refresh</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShowError</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.ShowError</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowError</servlet-name>
        <url-pattern>/HelloWorld/ShowError</url-pattern>
    </servlet-mapping>

    <!-- servlet 定义 -->
    <servlet>
        <servlet-name>ErrorHandler</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.ErrorHandler</servlet-class>
    </servlet>
    <!-- servlet 映射 -->
    <servlet-mapping>
        <servlet-name>ErrorHandler</servlet-name>
        <url-pattern>/HelloWorld/ErrorHandler</url-pattern>
    </servlet-mapping>
    <!-- error-code 相关的错误页面 -->
    <error-page>
        <error-code>404</error-code>
        <location>/HelloWorld/ErrorHandler</location>
    </error-page>
    <!-- exception-type 相关的错误页面 -->
    <error-page>
        <exception-type>java.lang.Throwable</exception-type>
        <location>/ErrorHandler</location>
    </error-page>

    <servlet>
        <servlet-name>ReadCookies</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.ReadCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReadCookies</servlet-name>
        <url-pattern>/HelloWorld/ReadCookies</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DeleteCookies</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.DeleteCookies</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCookies</servlet-name>
        <url-pattern>/HelloWorld/DeleteCookies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SessionTrack</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.SessionTrack</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionTrack</servlet-name>
        <url-pattern>/HelloWorld/SessionTrack</url-pattern>
    </servlet-mapping>
    <session-config>
        <!--以分钟为单位，将覆盖 Tomcat 中默认的 30 分钟超时时间。-->
        <!--在一个 Servlet 中的 getMaxInactiveInterval() 方法会返回 session 会话的超时时间，以秒为单位。-->
        <!--所以，如果在 web.xml 中配置 session 会话超时时间为 15 分钟，那么 getMaxInactiveInterval() 会返回 900。-->
        <session-timeout>15</session-timeout>
    </session-config>

    <servlet>
        <servlet-name>DatabaseAccess</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.DatabaseAccess</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DatabaseAccess</servlet-name>
        <url-pattern>/HelloWorld/DatabaseAccess</url-pattern>
    </servlet-mapping>

    <servlet>
        <display-name>UploadServlet</display-name>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/HelloWorld/UploadServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CurrentDate</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.CurrentDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrentDate</servlet-name>
        <url-pattern>/HelloWorld/CurrentDate</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageRedirect</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.PageRedirect</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageRedirect</servlet-name>
        <url-pattern>/HelloWorld/PageRedirect</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PageHitCounter</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.PageHitCounter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PageHitCounter</servlet-name>
        <url-pattern>/HelloWorld/PageHitCounter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SendMail</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.SendMail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMail</servlet-name>
        <url-pattern>/HelloWorld/SendMail</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContextLog</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.ContextLog</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextLog</servlet-name>
        <url-pattern>/HelloWorld/ContextLog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetLocale</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.GetLocale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetLocale</servlet-name>
        <url-pattern>/HelloWorld/GetLocale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplaySpanish</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.DisplaySpanish</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplaySpanish</servlet-name>
        <url-pattern>/HelloWorld/DisplaySpanish</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DateLocale</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.DateLocale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DateLocale</servlet-name>
        <url-pattern>/HelloWorld/DateLocale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CurrencyLocale</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.CurrencyLocale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrencyLocale</servlet-name>
        <url-pattern>/HelloWorld/CurrencyLocale</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PercentageLocale</servlet-name>
        <servlet-class>com.zxytech.web.servlet.example.PercentageLocale</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PercentageLocale</servlet-name>
        <url-pattern>/HelloWorld/PercentageLocale</url-pattern>
    </servlet-mapping>
</web-app>